.collection-overview {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  
  & .collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0.5em;

    & button {
      background: none;
      border: none;
      font-family: inherit;
    }
    & a {
      text-decoration: none;
      position: relative;
      color: #000;
      font-size: 1rem;

      &:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--accent);
        border-radius: 5rem;
        bottom: -30%;
        left: 0;
        right: 0;
      } 
    }

    .dark & a {
      color: #FFF;
    }

    & h1 {
      margin: 0;
    }
  }


  & .swiper {
    padding: 1em 1em;
  }

  & .swiper-wrapper {
    width: 100%;
    height: 100%;
  }

  & .controls {
    position: absolute;
    left: -3%;
    right: -3%;
    top: 50%;
    bottom: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}