:root {
  --prime: 23, 23, 23;
  --accent: #E9185F;
  /* --grey: #E0E0E0; */
  --grey: grey;
  --grey_dark: #494949;
  --grey_darker: #363636;
  --white: #FFFFFF;
}

.app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  position: relative;
  transition: 0.5s;
}

.app.dark {
  background: rgb(var(--prime));
  color: var(--white);
  transition: 0.5s;
}

.app .navbar {
  flex: 0 1 auto;
}

.app .main {
  flex: 1 1 auto;
}

.app .footer {
  flex: 0 1 40px;
}

